$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

.jumbotron {
    margin: 50px auto 0 10%;
    background-color: rgba(20,20,20,0.8);
    border-radius: 5px 0 0 5px;
    color: white;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body, html, .hud {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow:hidden;
    width:100%;
}

body {
    background: url('/images/tree_bark/tree_bark.png');
}

body > canvas.fullScreen {
    width: 100%;
    height:auto;
    background-color:black;
    position:absolute;
    top: 0;
    left: 0;
}

.hud {
    z-index: 100;
    position:absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hud > * {
    pointer-events: auto;
}